								/*ORDERED LIST HIGHLIGHTS*/

li{
	color: black;
}
li:nth-child(1):hover{
	background:red;
}
li:nth-child(2):hover{
	background:orange;
}
li:nth-child(3):hover{
	background:yellow;
}
li:nth-child(4):hover{
	background:green;
}


								/*HEADING*/



h1 {
	border-style: dashed;
	border-width: 5px;
	text-align: center;
	/*border color defaults to text-color*/

	color: #ffc;
	background-color: #000; 
	font-family: Helvetica, "Times New Roman";
	font-size: 5em;
	font-weight: lighter;
	font-style: italic;
	text-decoration: overline;
	text-transform: capitalize;

	line-height: 2;
}

h1:hover {
	color: pink;
	background: yellow;
	text-size: 100px;
}



								/*ORDERED LIST*/



ol {
	margin: 40px;
	text-indent: 5px; /*space between bullet point & text*/
	font-size: 3em;
	font-style: helvetica;
}




								/* BELOW IS FOR PRACTICE PURPOSES ONLY */


a:hover{
	background: blue;
	color: white;
}

table {
	text-indent: 1em; 
}

textarea {
	font-size: 18px;
	background-color: #ccc;


				/*margin = space outside object (related to web-border)
				* padding = space within pbject (internal magin in text area)*/


	margin-left: 20px;
	padding: 10px; 
}

input {
	margin-left: 20px;
	padding: 20px;
}

