html {
	font-family: helvetica;
	margin: 70px 250px 200px 200px
}

h1 {
	font: normal 100px helvetica;
	color: turquoise;
	line-height: 0.1;
}

#header h1, h3{
	text-align: center;
}

#QUESTIONS h3 {
	font: normal normal 30px helvetica;
	text-align: left;
	padding-top: 20px;
	color: black;
	line-height: 0.1;
}

#QUESTIONS h2 {
	font: normal bold 45px helvetica;
	padding-top: 70px;
	line-height: 0.1px;
	color: black;
}

#QUESTIONS p{
	margin-right: 20em;
	font-size: 24px
}

#QUESTIONS h3:hover{ 
/*include class in declaration to override initial styling*/
	font-weight: bolder;
	color: turquoise;
}

